<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite" parallel="false">

    <parameter name="ENV" value="PROD"/>
    <parameter name="browser" value="chromium"/>
    <parameter name="headless" value="false"/>
    <parameter name="ENABLE_MOCKS" value="false"/>

    <test name="SampleTests">
        <classes>
            <class name="com.tests.FlightBookingTests"/>
        </classes>
    </test>
</suite>
